{{ define "main" }}
<main>
  <h1 style="margin-bottom: 0px;">Posts</h1>
  <p style="font-size: 1.23rem;">
    Read more at: <a href="{{ $.Param "blogUrl" }}">{{ $.Param "blogUrl" | strings.TrimPrefix "https://" | strings.TrimPrefix "http://" }}</a>
  </p>
  {{ range .Paginator.Pages }}
    <article class="post-list-item">
      <h2><a href="{{ .Permalink }}" class="nounderline">{{ .Title }}</a></h2>
      <div class="meta clearfix">
        {{ if not .PublishDate.IsZero }}
        <div class="date">{{ .PublishDate.Format "January 2, 2006" }}</div>
        {{ else if not .Date.IsZero }}
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        {{ end }}
        <div class="author">by {{ $.Param "author" }}</div>
      </div>
    </article>
  {{ end }}
  {{ partial "pagination.html" . }}
</main>
{{ end }}
