{{ define "main" }}
<main>
  <article>
    <div class="post-header">
      <h2><a href="{{ .Permalink }}" class="nounderline">{{ .Title }}</a></h2>
      <div class="meta clearfix">
        <div class="date">
        {{ if not .PublishDate.IsZero }}
          {{ .PublishDate.Format "January 2, 2006" }}
        {{ else if not .Date.IsZero }}
          {{ .Date.Format "January 2, 2006" }}
        {{ end }}
        {{ if and .Params.hasLastMod (not .Lastmod.IsZero) }}
          (Updated on: {{ .Lastmod.Format "January 2, 2006" }})
        {{ end }}
        </div>
      </div>
    </div>

    <div class="post-body">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
